<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">

        <div>
            <div>姓名案例计算属性实现2</div>

            <div>
                姓<input type="text" v-model="fname">
            </div>
            <div>
                名<input type="text" v-model="lname">
            </div>
            <div>{{fullName}}</div>
        </div>
    </div>

    <script>
        Vue.config.productionTip = false //阻止提示
        var vm = new Vue({
            el: '#app',
            data: {
                fname: '',
                lname:'',
                fullName:''
            },
            computed:{

            },
            watch:{
                fname(newvalue,oldvalue){
                    this.fullName=newvalue+''+this.lname
                }
            }
      
        })
    </script>
</body>

</html>