<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .sitebar{
            float: left;
            width: 200px;
            background-color: green;
        }

        .content{
            background-color: red; 
            margin-left: 200px; 
        }
    </style>
</head>

<body>

    <div class="sitebar">左侧定宽200px区块左侧定宽200px区块左侧定宽200px区块左侧定宽200px区块左侧定宽200px区块</div>
    <div class="content">右侧主体自适应区块右侧主体自适应区块右侧主体自适应区块右侧主体自适应区块右侧主体自适应区块右侧主体自适应区块右侧主体自适应区块右侧主体自适应区块右侧主体自适应区块右侧主体自适应区块</div>

</body>

</html>